.title {
    font-family: 'Cookie', cursive;
}

body {
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-group {
    position : relative;
    width : 100%;
    min-height : 50px;
}

.icon-eye {
    position : absolute;
    right : 0;
    top : 50%;
    transform : translateY(-50%);
    cursor : pointer;
    transition : .4s ease all;
}

.icon-eye:hover {
    color : steelblue;
}