<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Verificado</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <!--BOORTSTRAP 4-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css">
        <!--FONTS-->
        <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet"> 
        <!--MAIN CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }} " type="text/css">
    </head>
    <body>
        <h1 class="display-4 text-center title mt-4" style="color:rgb(255, 255, 255);">Usuario verificado</h1>
        <a href="/Menu principal" style="color:rgb(255, 255, 255);">Pulsa aquí para acceder al menú</a>
    </body>
</html>