<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verificación</title>
    <!--BOORTSTRAP 4-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css">
    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet"> 
    <!--MAIN CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }} " type="text/css">
</head>
<body>
<form action="/Verificación" method="post">
    <h1 class="display-4 text-center title mt-4" style="color:rgb(255, 255, 255);">Se ha enviado un mail de verificación en su mail con un código. Comprueba su bandeja de entrada</h1>
    Pon el código: <input type="text" name="codigoVerificacion" required>
    <input type="submit" value="Verificar">
</form>
</body>
</html>